.statistics {
  margin-top: 80px;
  border-radius: 4px;
  background-color: rgb(255 255 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 300px;
  
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: 100px;
}

.statList {
  display: flex;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

}

.label {
  font-size: 15px;
  text-align: center;
  /* color: white; */
}

.percentage {
  font-size: 20px;
  text-align: center;
  color: white;
}