.transactionHistory {
  

  margin-top: 80px;
  border-radius: 4px;
  background-color: rgb(255 255 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

thead {
  background-color: #55bdd5;
  color: white;
  text-transform:uppercase;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}

tbody tr:nth-child(2n) {
  background: #ecf1f3;
}